@model KoreMVC.Models.Customer;
@{

}
<div>
    <h2>Customer Display</h2>
    <ul>
        <li><h5>Customer ID : @Model.CustomerId</h5></li>
        <li><h5>Customer Name : @Model.CustomerName</h5></li>
        <li><h5>Customer Gender : @Model.Gender</h5></li>
        <li><h5>Customer Address : @Model.Address</h5></li>
        <li><h5>Customer Contact No. : @Model.ContactNo</h5></li>
    </ul>
</div>